.card {
    border: 1px solid #D1B28D;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 10px;
}

.card-title {
    background-color: #FAF3E0;
    font-size: 24px;
    text-align: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: 1px solid #D1B28D;
    height: 40px;
}

.card-content {
    font-size: 16px;
    color: #666;
}